#piu-dettagli table * {
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

#piu-dettagli table td,
#piu-dettagli table th {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 136, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
}

#piu-dettagli table td {
    font-size: 1.5rem;
}

#piu-dettagli tr {}

#piu-dettagli table tbody td:first-of-type {
    border: none;
    box-shadow: none;
    background: none;
}

#piu-dettagli pre {
    width: 100%;
    overflow-x: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 149, 255, 0.5);
    font-size: 1rem;
    font-weight: bold;
}

#piu-dettagli pre:hover,
#piu-dettagli blockquote:hover,
#piu-dettagli table:hover {
    transform: translateY(-0.2rem);
}

#piu-dettagli {
    margin-top: 15rem;
    padding: 0 1rem;
    padding-top: 5rem;
    width: 100%;
    background: linear-gradient(180deg, transparent 0%, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.2) 20%, transparent 85%);
}


/* #piu-dettagli * {
    box-sizing: initial;
} */

#piu-dettagli blockquote {
    border: 1px solid rgba(0, 0, 255, 0.29);
    border-left: 0.5rem solid rgba(0, 0, 255, 0.763);
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0;
    width: 100%;
}

#piu-dettagli .section-tables {
    display: grid;
    gap: 1rem;
}

#piu-dettagli li>code {
    font-size: 1rem;
    font-weight: bold;
}

@media (min-width: 800px) {
    #piu-dettagli .section-tables {
        display: flex;
        gap: 2rem;
    }
}