* {
    --max-width-preview: 70vh;
}

#preview-spianatura-container label {
    display: grid;
    font-size: 1rem;
}

#preview-spianatura-container input {
    width: 4rem;
    height: 2rem;
    font-size: 1.5rem;
    font-family: poppins;
}

#preview-spianatura-container {
    display: grid;
    gap: 0.5rem;
}

#spianatura-preview-first-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}

#pezzo-grezzo {
    background-image: url("./../../../utilities/images/texture/metal/0cube.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    transform: scale(1);
    transition: all 0.2s ease-in-out, background-image 0.3s ease-in-out 0ms;
    animation: pezzoStart 2s ease-in-out;
    outline: 1px solid red;
}

@keyframes pezzoStart {
    0% {
        opacity: 0;
        transform: scale(0.3);
        background-image: url("./../../../utilities/images/texture/metal/0metal.jpg");
    }
    100% {
        transform: scale(1);
        background-image: url("./../../../utilities/images/texture/metal/0cube.png");
    }
}

#pezzo-grezzo:hover {
    background-image: url("./../../../utilities/images/texture/metal/0metal.jpg");
    transform: scale(0.95);
    transition: all 0.2s ease-in-out, background-image 0.2s ease-in-out 1000ms;
}

#preview-spianatura-container {
    width: 90vw;
    max-width: var(--max-width-preview);
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(0, 195, 255, 0.644);
    border-radius: 1rem;
    padding: 0.5rem;
    transition: all 0.5s ease-in-out;
}

#preview-spianatura-container:hover {
    transform: translateY(0.2rem);
    box-shadow: 0 0.5rem 2rem rgba(0, 99, 165, 0.334);
}

#form-spianatura {
    display: grid;
    place-items: center;
}

#lunghezza-container {
    /* outline: 1px solid red; */
    display: grid;
    place-items: center;
    width: calc(100% - 6.8rem);
    outline: 1px solid red;
}

#freccie-lunghezza-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 60vw;
    max-width: 550px;
    font-weight: 500;
    color: blue;
    font-size: 1rem
}

#freccie-lunghezza-container i,
#freccie-larghezza-container i {
    font-size: 1.3rem;
}

#freccie-larghezza-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 60vw;
    max-height: 570px;
    font-weight: 500;
    color: blue;
    font-size: 1rem;
}

#freccie-larghezza-container span {
    writing-mode: vertical-lr;
    width: min-content;
}

#larghezza-container {
    display: flex !important;
    align-items: center;
    /* outline: 1px solid red; */
}

#larghezza-container,
#lunghezza-container {
    gap: 0.2rem;
}


/* #freccie-lunghezza-container i:nth-of-type(1):after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 80%;
    width: 10vw;
    height: 0.2rem;
    background-color: blue;
}

#freccie-lunghezza-container i:nth-of-type(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80%;
    width: 10vw;
    height: 0.2rem;
    background-color: blue;
} */