#form-spianatura-range label {
    display: grid;
    background: white;
    padding: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: inset 0 -0.2rem 0.5rem rgba(82, 203, 255, 0.287), 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

#lunghezza_range_container {
    transform: rotate(-90deg);
    width: 500px;
    height: 4rem;
    position: fixed;
    top: calc(4rem*4);
    right: calc((500px/2)*-1 + 2rem);
}