#h-range {}

#h_range_container,
#diametro_range_container {
    display: grid;
    font-size: 2rem;
    grid-template-columns: 5rem 1fr;
    /* border: 1px solid red; */
}

#form-tolleranze-range {
    display: grid;
    gap: 2rem;
    background: white;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: inset 0 -0.2rem 0.5rem rgba(82, 203, 255, 0.287), 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}



@media (min-width: 800px) {
    #form-tolleranze-range {
        display: grid;
        grid-auto-flow: column;
        gap: 10vw;
        position: relative;
    }
    #form-tolleranze-range::before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.200);
        height: 3rem;
        width: 0.2rem;
        top: 50%;
        transform: translate(calc(((100vw - 1rem) - 1rem) / 2), -50%);
    }
}
