#form-avanzamento-fresa>#vt-first-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    gap: 1rem;
    align-items: center;
    place-content: center;
}

@media (max-width: 1000px) {
    #form-avanzamento-fresa>#vt-first-container {
        grid-template-columns: inherit;
        align-items: inherit;
        place-content: inherit;
    }
    #form-avanzamento-fresa>#vt-first-container>label>div {
        display: grid;
        grid-template-columns: 2rem 1fr;
    }
    #form-avanzamento-fresa>#vt-first-container .operator {
        display: none;
    }
}