#section-index-lista,
#section-index-lista .section-list-child-container {
    display: grid;
    gap: 1rem;
}

#content-lista h2 {
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 500;
    color: blue;
}

#section-index-lista a {
    padding: 1rem 0.5rem;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 0.3rem;
    display: grid;
    place-items: center;
    background-color: rgba(0, 110, 255, 10%);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
    transition: all 0.3s ease-in-out;
}

#section-index-lista a {
    display: flex;
    cursor: pointer;
    gap: 1rem;
}

#section-index-lista a:hover {
    border-radius: 0.5rem;
    background-color: rgba(0, 110, 255, 30%);
    transform: translateY(-0.2rem);
    display: grid;
}

#image-spianatura-index {
    background-image: url("../../../utilities/images/index-images/spianatura-gcode/0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#section-index-lista a img,
#image-spianatura-index {
    --height-img: 15vw;
    width: var(--height-img);
    height: var(--height-img);
    border-radius: var(--height-img);
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

#section-index-lista a:hover img {
    height: 100%;
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

#section-index-lista a:hover #image-spianatura-index {
    height: 95vw;
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-image: url("../../../utilities/images/index-images/spianatura-gcode/1.jpg");
}

@media (min-width: 800px) {
    #section-index-lista .section-list-child-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #section-index-lista a {
        display: flex;
        cursor: pointer;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #section-index-lista a:hover {
        border-radius: 0.5rem;
        background-color: rgba(0, 110, 255, 30%);
        transform: translateY(-0.2rem);
        display: grid;
    }
    #section-index-lista a img,
    #image-spianatura-index {
        --height-img: 5vw;
        width: var(--height-img);
        height: var(--height-img);
        border-radius: var(--height-img);
        object-fit: cover;
        background-image: url("../../../utilities/images/index-images/spianatura-gcode/0.jpg");
        transition: all 0.2s ease-in;
    }
    #section-index-lista a:hover img {
        height: 100%;
        max-height: 50vh;
        object-fit: cover;
        margin: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        transition: all 0.5s ease-out;
        transition-delay: 0.3s;
    }
    #section-index-lista a:hover #image-spianatura-index {
        height: 45vw;
        max-height: 50vh;
        width: 45vw;
        object-fit: cover;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        transition: all 0.5s ease-out;
        transition-delay: 0.5s;
        background-image: url("../../../utilities/images/index-images/spianatura-gcode/1.jpg");
    }
}