#section-index-lista,
#section-index-lista .section-list-child-container {
    display: grid;
    gap: 1rem;
}

#content-lista h2 {
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 500;
    color: blue;
}

#section-index-lista a {
    padding: 1rem 0.5rem;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 0.3rem;
    display: grid;
    place-items: center;
    background-color: rgba(0, 110, 255, 10%);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
    transition: all 0.3s ease-in-out;
}

#section-index-lista a:hover {
    border-radius: 0.5rem;
    background-color: rgba(0, 110, 255, 30%);
    transform: translateY(-0.2rem);
}

@media (min-width: 800px) {
    #section-index-lista .section-list-child-container {
        grid-template-columns: repeat(2, 1fr);
    }
}