.container-formula {
    display: grid;
    place-items: center;
    height: min-content;
}

.container-formula .giri-card {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    width: 80%;
    max-width: 60rem;
}

#form-numero-giri hr {
    /*   --border-width: 0.2rem;
    border: var(--border-width) solid rgba(0, 0, 255, 0.7);
    border-radius: var(--border-width); */
    margin: 1rem 0;
}

#form-numero-giri input {
    height: 3rem;
    font-family: poppins;
    font-size: 1.5rem;
}

#form-numero-giri input[disabled] {
    width: 5rem;
}

#form-numero-giri .operator {
    font-size: 2rem;
}

#form-numero-giri label[for="vt-input"],
#form-numero-giri label[for="diametro-input"] {
    display: grid;
}

#numero-giri-first-container,
#numero-giri-second-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

.input-with-title-container {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    font-weight: bold;
}

#risultato-giri {
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    gap: 1rem;
}

#body-giri-cnc {
    font-family: poppins, sans-serif;
    background-color: rgb(200, 230, 255);
    /* outline: 1px solid red; */
    display: grid;
    height: calc(100vh - 1rem);
    grid-template-rows: auto 1fr;
    align-items: center;
    padding: inherit !important;
}

* {
    box-sizing: border-box;
}

@media (max-width: 60rem) {
    .container-formula .giri-card {
        width: 95vw;
    }
}

.container-formula .giri-card:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.2rem 1rem rgba(0, 149, 255, 0.274);
}

@media(max-width:550px) {
    #body-giri-cnc input[disabled] {
        display: none;
    }
    #body-giri-cnc .operator {
        display: none;
    }
    #numero-giri-first-container,
    #numero-giri-second-container {
        grid-template-columns: 1fr;
    }
}