#spianatura-output {
    max-width: 95vw;
    width: 95%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

#spianatura-output.withCodeInside {
    background-color: #0d1117;
    transition: all 1s ease-in-out;
}

@media (max-width: 729px) {
    #spianatura-output {
        max-width: 90vw;
        width: 90%;
    }
    #output-gcode>div:first-of-type * {
        font-size: 1.9vw !important;
    }
}

.g-line-container {
    display: flex;
    align-items: center;
    font-family: monospace;
    padding: 0.2rem 0;
    gap: 1.5rem;
}

.gnum-line {
    font-weight: bold;
    color: rgb(193, 193, 255);
    font-size: 1.2rem;
}

.gcode-line {
    animation: gcode-line 0.5s cubic-bezier(0, 0, 0, 1.5) forwards;
    font-family: monospace;
    color: blue;
    font-size: 1.2rem;
}

.g-line-container pre {
    background: initial;
    padding: initial;
    display: flex;
    margin: initial;
}

@keyframes gcode-line {
    0% {
        transform: translateX(-5rem);
    }
    100% {
        transform: translateX(0);
    }
}
